{% extends 'master.html' %}
    {% block body %}


    <h1>{{movie_title}}</h1>

    <h2>Average Rating: {{avg}} stars</h2>

    {% if rated %}
    <p><h3>Your Rating: {{rated.rating }}</h3><p>
    {% endif %}

    <div id="stuffwegetwithajax">
        <img src="/static/loading.gif">
    </div>

    <p>Rate this movie:</p>

    <form action="/rate" method="POST" id="rating_form">
        {% for i in range(5) %}
            <img src="/static/graystar.png" class="graystar" id="star{{i}}">
        {% endfor %}
        <input type="hidden" name="movie_id" value="{{movie_id}}"></input>

        <input type="hidden" name="rating" id="rating_field"></input>
    </form>

    {% endblock %}