{% extends 'master.html' %}
    {% block body %}
    <h2>Register a new account</h2>

    <div class="form">
            <form method="POST">            
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert {{category}}">{{ message }}</div>
                {% endfor %}
                <input type="text" placeholder="Email Address" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Verify Password" name="password_verify">
                <input type="text" placeholder="Age" name="age">
                <input type="text" placeholder="Zipcode" name="zipcode">
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endblock %}